@font-face {
  font-family: "HelveticaNeue";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Hv.otf');
}

@media (min-width: 1000px) {
  #about {
    width: 60%;
    margin: 8% auto;
  }
 }

@media (max-width: 1000px) {
  #about {
    width: 60%;
    margin: 25% auto;
  }
 } 

.questions {
  font-family: 'HelveticaNeue', sans;
  font-weight: 100;
  font-size: 300%;
}

.answers {
  font-family: 'Georgia', sans;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 5% 0;
  font-size: 150%;
  text-align: justify;
}
