#about {
  width: 60%;
  margin: 8% auto;
}

.questions {
  font-family: 'HelveticaNeue', sans;
  font-size: 300%;
}

.answers {
  font-family: 'Georgia', sans;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 5% 0;
  font-size: 150%;
  text-align: justify;
}
