/*@media (min-width: 1600px) {*/
  body {
    height: 100%;
    background-color: white;
  }

  #content {
    padding-left: 5%;
    width: 50%;
    margin: 14% auto 5% auto;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 20%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 300%;
  }

  #web {
    font-size: 250%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 80%;
    line-height: 125%;
    /*text-align: justify;*/
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    padding-left: 2%;
    width: 100%;
    height: 20px;
    margin: 10% auto;
  }

  #main-nav {
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 60%;
  }

  .nav-li {
    display: inline-block;
    margin: 10px;
    width: 15%;
    padding-right: 2%
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 250%;
    margin: 0 6% 0 0;
    text-decoration: none;
    display: block;

  }

  .logo {
    margin: 0 4% 0 0;
    width: 28px;
    height: auto;
  }
/*}*/

/*@media (max-width: 1600px) and (min-width: 1200px) {
  body {
    background-color: white;
  }

  #content {
    width: 70%;
    margin: 14% 20%;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 18%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 300%;
  }

  #web {
    font-size: 250%;
    font-style: italic;
  }

  #bio {
    float: left;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 75%;
    text-align: justify;
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    width: 100%;
    height: 20%;
    margin: 10% 0 0 0;
  }

  #main-nav {
    list-style-type: none;
    width: 90%;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 200%;
    float: left;
    margin: 0 6% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 30px;
    height: auto;
    float: left;
  }
}
*/
/*@media (max-width: 1200px) and (min-width: 1000px) {
    body {
    background-color: white;
  }

  #content {
    width: 90%;
    margin: 20% 16%;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 250%;
  }

  #web {
    font-size: 200%;
    font-style: italic;
  }

  #bio {
    float: left;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 70%;
    text-align: justify;
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    width: 100%;
    height: 20%;
    margin: 15% 0 5% -5%;
  }

  #main-nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 175%;
    float: left;
    margin: 0 6% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 30px;
    height: auto;
    float: left;
  }
}*/

@media (max-width: 1000px) and (min-width: 500px) {
    body {
    background-color: white;
  }

  #content {
    width: 100%;
    margin: 50% 0;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 2% 0 0 0;
    color: black;
  }

  #name {
    padding-top: 10%;
    font-size: 400%;
  }

  #web {
    font-size: 350%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 3% 0 0 0;
    width: 70%;
    text-align: justify;
    font-size: 300%;
    float: left;
    clear: both;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    float: left;
    width: 100%;
    height: 20%;
    margin: 20% 0 5% -5%;
  }

  #main-nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 200%;
    float: left;
    margin: 0 3% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 30px;
    height: auto;
    float: left;
  }
}

/*@media (max-width: 500px) {
  body {
    background-color: white;
  }

  #content {
    width: 90%;
    margin: 42% 12%;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 35%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 2% 0 0 0;
    color: black;
  }

  #name {
    padding-top: 10%;
    font-size: 150%;
  }

  #web {
    font-size: 125%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 2% 0 0 0;
    width: 85%;
    text-align: justify;
    font-size: 100%;
    float: left;
    clear: both;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    float: left;
    width: 100%;
    height: 20%;
    margin: 20% 0 5% -16%;
  }

  #main-nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 60%;
    float: left;
    margin: 0 6% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 8px;
    height: auto;
    float: left;
  }
}*/