@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Th.otf');
}

a:hover {
  color: gray;
}

@media (min-width: 1000px) {
  #about {
    width: 60%;
    margin: 8% auto;
  }

  #resume {
    width: 60%;
    margin: 8% auto;
  }

  #projects {
    width: 60%;
    margin: 8% auto;
  }
}

@media (max-width: 1000px) {
  #about {
    width: 60%;
    margin: 30% auto;
  }

  #resume {
    width: 60%;
    margin: 30% auto;
  }

  #projects {
    width: 60%;
    margin: 30% auto;
  }
} 

@media (min-width: 1600px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 1% 10%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 150%;
    float: left;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
    #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 2% 9%;
  }

  #last {
    padding-right: 8%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 175%;
    float: left;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 2% 8%;
  }

  #last {
    padding-right: 5%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 175%;
    float: left;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
    #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 9% 5%;
  }

  #last {
    padding-right: 1%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 300%;
    float: left;
  }
}

@media (max-width: 500px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 7% 5%;
  }

  #last {
    padding-right: 2%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 100%;
    float: left;
  }
}
}