@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Th.otf');
  font-family: "HelveticaNeue";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Hv.otf');
}

a:hover {
  color: gray;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6%;
  background-color: black;
}

#static-nav {
  padding: 0;
  margin: 0;
}

.list{
  display: inline-block;
  padding: 1% 10%;
}

.nav {
  font-family: "HelveticaNeue-Thin";
  color: white;
  text-decoration: none;
  font-size: 150%;
  float: left;
}
