@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Th.otf');
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('HelveticaNeue/HelveticaNeueLTPro-Hv.otf');
}

a:hover {
  color: gray;
}

body {
  height: 100%;
  background-color: white;
}

/*layout*/

@media (min-width: 1600px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 1% 10%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 150%;
    float: left;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
    #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 2% 9%;
  }

  #last {
    padding-right: 8%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 175%;
    float: left;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 2% 8%;
  }

  #last {
    padding-right: 5%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 175%;
    float: left;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
    #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 9% 5%;
  }

  #last {
    padding-right: 1%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 300%;
    float: left;
  }
}

@media (max-width: 500px) {
  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: black;
  }

  #static-nav {
    padding: 0;
    margin: 0;
  }

  .list{
    display: inline-block;
    padding: 7% 5%;
  }

  #last {
    padding-right: 2%;
  }

  .nav {
    font-family: "HelveticaNeue-Thin";
    color: white;
    text-decoration: none;
    font-size: 100%;
    float: left;
  }
}


/*index*/


@media (min-width: 1000px) {
  #content {
    padding-left: 5%;
    width: 50%;
    margin: 14% auto 5% auto;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 20%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  .index-h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 300%;
  }

  #web {
    font-size: 250%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 80%;
    line-height: 125%;
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    padding-left: 2%;
    width: 100%;
    height: 20px;
    margin: 10% auto;
  }

  #main-nav {
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 60%;
  }

  .nav-li {
    display: inline-block;
    margin: 10px;
    width: 15%;
    padding-right: 2%
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 250%;
    margin: 0 6% 0 0;
    text-decoration: none;
    display: block;

  }

  .logo {
    margin: 0 4% 0 0;
    width: 28px;
    height: auto;
  }
}

/*@media (max-width: 1600px) and (min-width: 1200px) {
  body {
    background-color: white;
  }

  #content {
    width: 70%;
    margin: 14% 20%;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 18%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 300%;
  }

  #web {
    font-size: 250%;
    font-style: italic;
  }

  #bio {
    float: left;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 75%;
    text-align: justify;
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    width: 100%;
    height: 20%;
    margin: 10% 0 0 0;
  }

  #main-nav {
    list-style-type: none;
    width: 90%;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 200%;
    float: left;
    margin: 0 6% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 30px;
    height: auto;
    float: left;
  }
}
*/
/*@media (max-width: 1200px) and (min-width: 1000px) {
    body {
    background-color: white;
  }

  #content {
    width: 90%;
    margin: 20% 16%;
  }

  #ryan {
    float: left;
    margin: 0 4% 5% 0;
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 1% 0 0 0;
    color: black;
  }

  #name {
    font-size: 250%;
  }

  #web {
    font-size: 200%;
    font-style: italic;
  }

  #bio {
    float: left;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 1% 0 0 3%;
    width: 70%;
    text-align: justify;
    font-size: 150%;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    width: 100%;
    height: 20%;
    margin: 15% 0 5% -5%;
  }

  #main-nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 175%;
    float: left;
    margin: 0 6% 0 0;
    text-decoration: none;
  }

  .logo {
    margin: 0 1% 0 0;
    width: 30px;
    height: auto;
    float: left;
  }
}*/

@media (max-width: 1000px) and (min-width: 500px) {
  #content {
    width: 80%;
    margin: 40% auto 40% auto;
  }

  #ryan {
    float: left;
    margin: 0 4% 8% 5%;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  .index-h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 2% 0 0 0;
    color: black;
  }

  #name {
    padding-top: 5%;
    font-size: 400%;
  }

  #web {
    font-size: 350%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 3% 0 0 0;
    width: 100%;
    text-align: justify;
    font-size: 300%;
    float: left;
    clear: both;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    padding-top: 20%;
    width: 100%;
    height: 20px;
    margin: 40% auto;
  }

  #main-nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }

  .nav-li {
    display: inline-block;
    margin: 10px;
    width: 15%;
    padding-right: 2%
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 250%;
    margin: 0 6% 0 0;
    text-decoration: none;
    display: block;

  }

  .logo {
    margin: 0 4% 0 0;
    width: 28px;
    height: auto;
  }
}

@media (max-width: 500px) {
  #content {
    width: 80%;
    margin: 40% auto 40% auto;
  }

  #ryan {
    float: left;
    margin: 0 4% 8% 5%;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  .index-h1 {
    font-family: "HelveticaNeue-Thin";
    font-weight: lighter;
    margin: 2% 0 0 0;
    color: black;
  }

  #name {
    padding-top: 5%;
    font-size: 400%;
  }

  #web {
    font-size: 350%;
    font-style: italic;
  }

  #description {
    font-family: "HelveticaNeue-Thin";
    margin: 3% 0 0 0;
    width: 100%;
    text-align: justify;
    font-size: 300%;
    float: left;
    clear: both;
  }

  #dbc {
    color: black;
  }

  #dbc:hover {
    color: gray;  
  }

  #details {
    padding-top: 20%;
    width: 100%;
    height: 20px;
    margin: 40% auto;
  }

  #main-nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }

  .nav-li {
    display: inline-block;
    margin: 10px;
    width: 15%;
    padding-right: 2%
  }

  .links {
    font-family: "HelveticaNeue-Thin";
    color: black;
    font-size: 250%;
    margin: 0 6% 0 0;
    text-decoration: none;
    display: block;

  }

  .logo {
    margin: 0 4% 0 0;
    width: 28px;
    height: auto;
  }
}


/*about*/


@media (min-width: 1000px) {
  #about {
    width: 60%;
    margin: 8% auto;
  }
}

@media (max-width: 1000px) {
  #about {
    width: 60%;
    margin: 30% auto;
  }
} 

.questions {
  font-family: 'HelveticaNeue', sans;
  font-weight: 100;
  font-size: 300%;
}

.answers {
  font-family: 'Georgia', sans;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 5% 0;
  font-size: 150%;
  text-align: justify;
}

/*projects*/

@media (min-width: 1000px) {
  #projects {
    width: 60%;
    margin: 5% auto;
  }
}

@media (max-width: 1000px) {
  #projects {
    width: 60%;
    margin: 30% auto;
  }
} 

.projects-h1 {
  font-family: "HelveticaNeue-Thin";
  font-weight: lighter;
  font-size: 250%;
  margin: 4% 0;
}

.projects-p {
  text-align: justify;
  font-family: 'Georgia', sans;
  font-size: 150%;
}

hr {
  height: 2px;
  background-color: black;
  margin: 7% 0;
}

.preview {
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 4%
}

.preview:hover {
  box-shadow: -2px -2px 3px #888;
}

/*resume*/

@media (min-width: 1000px) {
  #resume {
    width: 60%;
    margin: 8% auto;
  }
}

@media (max-width: 1000px) {
  #resume {
    width: 80%;
    margin: 30% auto;
  }
} 

#lower {
  margin: auto;
  width: 85%;
}

ul {
  margin: 1% auto;
  list-style: none;
  display: block;
}

.resume-h1 {
  font-family: "HelveticaNeue-Thin";
  font-size: 250%;
  font-weight: lighter;
  text-align: center;
  margin: 4% 0;
}

#skills {
  margin-bottom: 2%;
}

.resume-h2 {
  font-family: 'Helvetica';
  margin: 5% auto 2% auto;
  text-align: center;
}

.resume-h3 {
  font-family: 'Georgia';
  margin: 2% auto;
  text-align: center;
}

.project-link {
  margin: 2% auto;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 150%;
}

.resume-p {
  margin: 1% auto 4% auto;
  font-size: 110%;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
}

#projects-resume {
  font-weight: bolder;
  margin-bottom: 4%;
}

#project-list {
  padding: 0;
}

.project-li {
  text-align: center;
}

#contact {
  text-align: center;
}

.languages {
  margin: 2% 4%;
  font-size: 150%;
  display: inline-block;
}

