#projects {
  margin: 5% auto;
  width: 60%;
}

h1 {
  font-family: "HelveticaNeue-Thin";
  font-size: 250%;
}

p {
  text-align: justify;
  font-family: 'Georgia', sans;
  font-size: 150%;
}

hr {
  height: 2px;
  background-color: black;
  margin: 5% 0;
}

.preview {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

img:hover {
  box-shadow: -2px -2px 3px #888;
}
