@media (min-width: 1000px) {
  #resume {
    width: 60%;
    margin: 8% auto;
  }
 }

@media (max-width: 1000px) {
  #resume {
    width: 60%;
    margin: 30% auto;
  }
 } 
/*
#resume {
	margin: 5% auto;
	width: 60%;
}*/

#lower {
	margin: auto;
	width: 85%;
}

ul {
	margin: 1% auto;
	list-style: none;
	display: block;
}

h1 {
	font-family: "HelveticaNeue-Thin";
	font-size: 250%;
	font-weight: lighter;
	text-align: center;
	margin: 4% 0;
}

#skills {
	margin-bottom: 2%;
}

/*#experience {
	margin: 5% 0;
}*/

h2 {
	font-family: 'Helvetica';
	margin: 5% auto 2% auto;
	text-align: center;
}

h3 {
	font-family: 'Georgia';
	margin: 2% auto;
	text-align: center;
}

.project-link {
	margin: 2% auto;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 150%;
}

p {
	margin: 1% auto 4% auto;
	font-size: 110%;
	text-align: center;
	letter-spacing: 1px;
	line-height: 25px;
}

#projects {
	font-weight: bolder;
	margin-bottom: 4%;
}

#project-list {
	padding: 0;
}

.project-li {
	text-align: center;
}

#details {
	text-align: center;
}

.languages {
	margin: 2% 4%;
	font-size: 150%;
	display: inline-block;
}