<link rel="stylesheet" href="/css/alternate.css">

<div id="content">
    <img src="/images/Ryan.jpg" id="ryan">
  <div id="intro">
    <h1 id="name">Ryan Leahy</h1>
    <h1 id="web">Web Developer</h1>
    <p id="description">I love programming to the point that I want to do it every day of my life.  After 9 weeks at <a href="http://devbootcamp.com/" id="dbc">Dev Bootcamp</a> I am ready to continue developing my new superpower.</p>
  </div>
  <div id="details">
    <ul id="main-nav">
      <li><a href="/about" class="links" id="about">About Me</a></li>
      <li><a href="/projects" class="links">Projects</a></li>
      <li><a href="/resume" class="links">Resume</a></li>
      <img src="/images/blacktocat.png" alt="github" class="logo">
      <li><a href="https://github.com/Rleahy22" class="links" target="_blank">Github</a></li>
      <img src="/images/linkedin.png" alt="linkedin" class="logo">
      <li id="linkedin"><a href="http://www.linkedin.com/pub/ryan-leahy/11/120/1b1" class="links" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>