<div id="content">
    <img src="/images/Ryan.jpg" alt="ryan">
  <div id="intro">
    <h1 id="name">Ryan Leahy</h1>
    <h1 id="web">Web Developer</h1>
  </div> 
<div id="details">
  <a href="">About Me</a>
  <a href="">Projects</a>
  <a href="">Resume</a>
  <a href="https://github.com/Rleahy22">Github</a>
  <a href="http://www.linkedin.com/pub/ryan-leahy/11/120/1b1">LinkedIn</a>
</div>
</div>
