<div id="content">
    <img src="/images/Ryan.jpg" alt="ryan">
  <div id="intro">
    <h1 id="name">Ryan Leahy</h1>
    <h1 id="web">Web Developer</h1>
    <p id="description">I love programming to the point that I want to do it every day of my life.  After 9 weeks at <a href="http://devbootcamp.com/" id="dbc">Dev Bootcamp</a> I am ready to continuing developing my new superpower as a world class beginner.</p>
  </div>
  <div id="details">
    <a href="" class="links">About Me</a>
    <a href="" class="links">Projects</a>
    <a href="" class="links">Resume</a>
    <a href="https://github.com/Rleahy22" class="links">Github</a>
    <a href="http://www.linkedin.com/pub/ryan-leahy/11/120/1b1" class="links">LinkedIn</a>
  </div>
</div>
