<link rel="stylesheet" href="/css/resume.css">

<div id="resume">
	<h1 id="ryan">Ryan Leahy</h1>	
	<h1 id="skills">Skills</h1>
	<ul id="tech">
		<li>Ruby</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Javascript</li>
		<li>ActiveRecord</li>
		<li>JQuery</li>
		<li>Ruby on Rails</li>
		<li>Git</li>
		<li>SQL</li>
		<li>CoffeeScript</li>
		<li>RSpec</li>
		<li>Jasmine</li>
	</ul>
	<h1 id="experience">Experience</h1>
	<h2>Dev Bootcamp - Student (June 2013 - August 2013)</h2>
	<h3>Learned hot to program web applications over the course of 900 hours in 9 weeks</h3>
	<h3>Projects</h3>
	<ul>
		<li>
			<a href="http://www.pilgrim.io">Pilgrim</a>
			<p>A global news aggregator that fetches articles from international sources tailored to users’ interests.  Each article is translatable into a variety of languages so users can immerse themselves in a foreign language in a medium with which they are familiar.</p>
		</li>
		<li>
			<a href="http://wtfshouldidothisweekend.herokuapp.com/">WTFShouldIDoThisWeekend</a>
			<p>A suggestion engine that helps users find weekend activities based on results from sources like Rotten Tomatoes, Groupon, and Songkick.</p>
		</li>
		<li>
			<a href="http://sonicoverflow.herokuapp.com">Sonic Overflow</a>
			<p>A site where users can ask music related questions, and receive answers from other users in the style of Stack Overflow.</p>
		</li>
	</ul>
</div>

